<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Este div condicional sirve para mostrar si hay errores en el formulario -->
            <div class="mt-5" th:object="${estudiante}" th:remove="tag">
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible fade show">
                    <span th:text="#{mensaje.formulario.errores}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
            </div>

            <!-- Comienza la tarjeta donde pongo el formulario -->
            <div class="card mt-5">
                <div class="card-header text-center"> Formulario de alumnos</div>
                <div class="card-body">
                    <!-- Comienza el formulario || th:errorclass >> clases CSS que se aplicarán en caso de que haya errores de validación-->
                    <form th:href="@{/}" th:object="${estudiante}" method="POST">
                        <div class="row form-group mt-2">
                            <label class="col-md-3">Nombre</label>
                            <input type="text" class="form-control col" th:errorclass="'form-control is-invalid'"
                                   placeholder="Nombre" th:field="*{nombre}">
                            <small class="form-text" th:if="${#fields.hasErrors('nombre')}"
                                   th:errors="*{nombre}"></small>
                        </div>
                        <div class="row form-group mt-2">
                            <label class="col-md-3">Apellidos</label>
                            <input type="text" class="form-control col" th:errorclass="'form-control is-invalid'"
                                   placeholder="Apellidos" th:field="*{apellidos}">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}"
                                   th:errors="*{apellidos}"></small>

                        </div>
                        <div class="row form-group mt-2">
                            <label class="col-md-3">Edad</label>
                            <input type="number" class="form-control col" th:errorclass="'form-control is-invalid'"
                                   placeholder="Edad" th:field="*{edad}">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('edad')}"
                                   th:errors="*{edad}"></small>

                        </div>
                        <div class="row form-group mt-2">
                            <label class="col-md-3">Curso</label>
                            <input type="text" class="form-control col" th:errorclass="'form-control is-invalid'"
                                   placeholder="Curso" th:field="*{curso}">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('curso')}"
                                   th:errors="*{curso}"></small>

                        </div>
                        <div class="text-center mt-5">
                            <button type="submit" class="col-4 offset-3 btn btn-success">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>